.far-left {
  float: left;
  /* justify-content: flex-start; */
}

.far-right {
  float:right;
  /* justify-content: flex-end; */
  /* //margin-right: 20px; */
}

.pagination-margin {
  margin: 10px 5px;
  display: block;
}
