.far-left {
  float: left;
}

.far-right {
  float:right;
}

.pagination-margin {
  margin: 10px 5px;
  display: block;
}

.space-between {
  justify-content: space-between;
}

.options-margin {
  margin: 0 10px;
}

.btn-sub {
  background-color: #18BC9C;
}


.white-font, .white-font:hover {
  color: white!important;
  text-decoration: none;
}

.green-font, green-font:focus, green-font:hover, green-font:active {
  color: #18BC9C;
}
